* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

h1 {
  padding: 15px 0;
  text-align: center;
}

input {
  border: 1px solid #333;
}

.row {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.content {
  width: 370px;
}

button {
  cursor: pointer;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
table {
  width: 100px;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
caption {
  font-weight: bold;
  margin-bottom: 10px;
}
