.header{
    padding: 15px 0;
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    .logo{
        height: 99px;
        overflow: hidden;
        img{
            max-height: 100%;
        }
    }
    .header-nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu-top{
            ul {
                display: flex;
                li {
                    padding: 0 25px;
                    a{
                        font-weight: 600;
                        padding-bottom: 54px;
                    }
                    &.active{
                        a{
                            color: $primaryColor;
                            border-bottom: 1.667px solid $primaryColor;
                        }
                    }
                    &:hover{
                        @extend .active
                    }
                }
            }  
        }
        .cart-icon{
            padding: 0 25px;
        }

        .search-icon{
            padding-left: 25px;
        }
    }
    .menu-toggle {
        display: none;
    }
    
    .menu-overlay {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 991.98px) {
    .header {
      .logo {
        text-align: center;
      }
      .menu-toggle {
        display: block;
        label {
          font-size: 2.5rem;
          cursor: pointer;
        }
      }
      .header-nav {
        .menu-top {
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          z-index: 10;
          min-width: 250px;
          background: $primaryColor;
          translate: -100%;
          transition: translate 0.4s ease;
          ul {
            display: block;
            padding: 15px 0;
            li {
              padding: 0;
              a {
                display: block;
                color: white !important;
                padding: 10px 15px;
              }
            }
          }
        }
  
        .menu-overlay {
          position: fixed;
          inset: 0;
          background: #00000075;
          z-index: 1;
          transition: 0.4s ease;
          transition-property: opacity, visibility;
        }
  
        .cart-icon {
          padding: 15px 0;
        }
  
        .search-icon {
          padding-left: 15px;
        }
      }
  
      input[type="checkbox"] {
        &:checked {
          ~ .menu-top {
            translate: 0;
          }
  
          ~ .menu-overlay {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

