body {
  background-image: url("../images/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Blurred-Background {
  background-color: white;
  border-radius: 5px;
  opacity: 0.5;
  transform: translate(140%, 45%);
  width: 30%;
  padding-bottom: 17%;
}
@import url("./fonts.css");
h2 {
  text-align: center;
  font-family: Lato, sans-serif;
  font-style: normal;
}
p {
  text-align: center;
  font-family: Lato, sans-serif;
  font-style: normal;
}
