@import url("./fonts.css");
details {
  box-sizing: border-box;
}
p {
  font-family: "Lato", sans-serif;
  color: black;
  margin-bottom: 5px;
  padding: 0px 8px 12px 8px;
}
summary {
  font-family: "Lato", sans-serif;
  color: white;
  background: #d95a25;
  margin-bottom: 5px;
  padding: 8px 8px 8px 8px;
  list-style-type: "+ ";
}

details[open] > summary {
  list-style-type: "- ";
}
