@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
}

.heading {
  position: absolute;
  top: 40px;
  right: 8%;
}

img {
  position: relative;
  z-index: 1;
}

.info-heading > img {
  position: absolute;
  top: 80px;
  right: 150px;
  z-index: 2;
}
div.info-heading > span {
  position: absolute;
  top: 90px;
  right: 160px;
  width: 180px;
  height: 280px;
  background-color: hsl(225.82deg 45.83% 47.06%);
  z-index: 5;
}

span > span:first-child {
  font-family: "Space_Grotesk";
  position: absolute;
  font-size: 42px;
  color: white;
  top: 190px;
  left: 93px;
  background-color: hsl(225.82deg 45.83% 47.06%);
  z-index: 999;
}

span > span:last-child {
  font-family: "Space_Grotesk";
  position: absolute;
  font-size: 12px;
  color: white;
  top: 245px;
  left: 80px;
  background-color: hsl(225.82deg 45.83% 47.06%);
  z-index: 999;
}
.information {
  margin: 0 10px;
}

div.step {
  padding: 20px 0px;
  font-family: "Inter";
  width: 600px;
  display: flex;
  flex-direction: row;
  text-align: right;
}
div.law {
  margin-left: 100px;
  margin-right: 10px;
  width: fit-content;
}

p {
  font-weight: 300;
  margin: 15px 0;
}

div.border {
  width: 2px;
  height: 180px;
  background-color: rgb(190, 187, 187);
}
div.year {
  text-align: left;
  margin: 0 5px;
  width: 180px;
}

div.step:hover > div.law {
  text-align: left;
  transform: translate(105%, 0);
  transition: transform 0.5s, text-align 1s;
}
div.step:hover > div.year {
  text-align: right;
  transform: translate(-111%, 0);
  transition: transform 0.5s, text-align 1s;
}

button {
  font-family: "Inter";
  padding: 7px 25px;
  border: none;
  border-radius: 50px;
}

div.step:hover > div.law > button {
  color: white;
  background-color: hsl(20.61deg 48.29% 40.2%);
  transform: 0.5s;
}
