@import url("./fonts.css");

body {
  text-align: center;
  font-family: "Lato";
  background-color: #fdfdfd;
  margin: 0 80px;
}

p {
  margin-bottom: 30px;
}

.input-form {
  width: 590px;
  margin: 0 auto;
}

.name,
.information {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
}

div.input-block,
div.message {
  position: relative;
  margin: auto;
}

div.input-block input {
  width: 250px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 14px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(186, 183, 183);
}

div.input-block span.placeholder {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 15px 0;
  padding: 0 7px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.7) translateY(-20px);
}
div.input-block input:hover,
div.input-block input:valid,
div.input-block input:focus {
  border: 1px solid hsl(221.61deg 63.13% 57.45%);
  transform: 0.2s;
}

select {
  width: 280px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(186, 183, 183);
}

select:hover {
  border: 1px solid hsl(221.61deg 63.13% 57.45%);
  transform: 0.2s;
}

textarea {
  border-radius: 5px;
  border: 1px solid rgb(186, 183, 183);
  padding: 15px 15px;
  resize: none;
  margin-bottom: 20px;
}
div.message span.placeholder {
  position: absolute;
  top: 0;
  left: 18px;
  margin: 13px 0;
  padding: 0 7px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

div.message textarea:valid + span.placeholder,
div.message textarea:focus + span.placeholder {
  transform: scale(0.7) translateY(-15px);
}

div.message textarea:hover,
div.message textarea:valid,
div.message textarea:focus {
  border: 1px solid hsl(221.61deg 63.13% 57.45%);
  transform: 0.2s;
}

button {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: hsl(221.61deg 63.13% 57.45%);
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  border: 1px solid hsl(221.61deg 63.13% 57.45%);
  transition: 0.2s;
}
span::after {
  content: "";
  width: 90px;
  height: 100px;
}
